# Local configuration and credentials
.env
service-account.json

# Dependency directories
node-modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
chrome-profile/
